.left-panel {
  width: 35%;
  min-height: 80vh;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 50px;
  background: linear-gradient(180deg, #0d2f94 0%, #1547c7 55%,#1b5cff 100%);
  color: #fff;
}

.left-panel-content{
  position: relative;
  z-index: 5;
}

.left-panel-logo{
  display:flex;
  align-items:center;
  gap:12px;
}

.logo{
  width:60px;
}

.left-panel-logo-text{
  font-size:30px;
  font-weight:400;
  margin:0;
}

.left-panel-logo-text span{
  color:#67b4ff;
}

.left-panel-tagline{
  margin:30px 0 70px;
  width:340px;
  font-size:18px;
  line-height:1.7;
  color:#d9e6ff;
}

.left-panel-features{
  display:flex;
  flex-direction:column;
  gap:20px;
}

.feature-item{
  display:flex;
  gap:10px;
  align-items:flex-start;
}

.feature-icon{
  width:43px;
  height:43px;
  border-radius:50%;
  background:rgba(255,255,255,.15);
  display:flex;
  justify-content:center;
  align-items:center;
}

.feature-icon svg{
  font-size:18px;
}

.feature-title{
  margin:0;
  font-size:16px;
  font-weight:600;
}

.feature-desc{
  margin-top:4px;
  color:#dbeafe;
  font-size:14px;
}
.circle-top{
  position:absolute;
  top:-120px;
  right:-120px;

  width:320px;
  height:320px;
  border-radius:50%;
  background:rgba(255,255,255,.05);
}
.circle-bottom{
  position:absolute;
  bottom:-170px;
  left:-80px;

  width:550px;
  height:300px;

  border-radius:50%;
  background:rgba(255,255,255,.05);
}

@media(max-width:992px){
.left-panel{
display:none;
}
}
