.nav-produits{
    display: flex;
    justify-content: space-between;
}
.card-search{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-search{
    border: none;
    border-radius: 5px;
    padding: 10px;
    display: inline;
    justify-content: center;
    text-align: center;
    color: #fff;
    background-color: blue;
}